<!-- You MUST include jQuery before Fomantic -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
<div class="ui five doubling cards">

<div class="card">
  <div class="content">
    <i class="right floated huge purple map pin icon"></i>
    <div class="header">
      <h2 class="ui header"> {{station.name}}</h2>
    </div>
    <br>
    <div class="ui left aligned content">
      <p>Latitude: {{station.latitude}} </p>
      <p>Longitude: {{station.longitude}} </p>
    </div>
  </div>
</div>
<div class="card">
  <div class="content">
    <i class="right floated {{getLatestReading.weatherIconColour}} huge {{getLatestReading.weatherIcon}} icon"></i>
    <div class="header">
      <h2 class="ui header">Weather</h2>
    </div>
    <br>
    <div class="left aligned content">
      <p> {{getLatestReading.weatherConvert}} </p>
    </div>
  </div>
</div>
<div class="card">
  <div class="content">
    <i class="right floated huge blue temperature high icon"></i>
    <div class="header">
      <h2 class="ui header">Temp</h2>
    </div>
    <br>
    <div class="left aligned content">
      <p> {{getLatestReading.temperature}} 째C</p>
      <p> {{getLatestReading.tempF}} 째F</p>
    </div>
    <div class="right aligned content">
      <i class="right floated blue huge {{getLatestReading.tempTrend}} icon"></i>
    </div>
    <div class="left aligned content">
      <p> Max: {{getLatestReading.maxTemp}}째C </p>
      <p> Min: {{getLatestReading.minTemp}}째C </p>
    </div>
  </div>
</div>
<div class="card">
  <div class="content">
    <i class="right floated huge green wind icon"></i>
    <div class="header">
      <h2 class="ui header">Wind</h2>
    </div>
    <br>
    <div class="left aligned content">
      <p> {{getLatestReading.beaufort}} bft</p>
      <p> {{getLatestReading.windDirection}}</p>
      <p> Feels like {{getLatestReading.windChill}}</p>
      <i class="right floated green huge {{getLatestReading.windTrend}} icon"></i>
      <p> Max: {{getLatestReading.maxWind}} kMh </p>
      <p> Min: {{getLatestReading.minWind}} kMh  </p>
    </div>
  </div>
</div>
<div class="card">
  <div class="content">
    <i class="right floated huge orange life ring outline icon"></i>
    <div class="header">
      <h2 class="ui header">Pressure</h2>
    </div>
    <br>
    <div class="left aligned content">
      <p> {{getLatestReading.pressure}} hPa </p>
      <i class="right floated orange huge {{getLatestReading.pressureTrend}} icon"></i>
      <p>
        Max:{{getLatestReading.maxPressure}} hPa
      </p>
      <p>
        Min:{{getLatestReading.minPressure}} hPa
      </p>
    </div>
  </div>
</div>

</div>
