<!-- You MUST include jQuery before Fomantic -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
<div class="ui five doubling cards">

<div class="card">
  <div class="content">
    <i class="right floated big purple map pin icon"></i>
    <div class="header">
      {{stationCtrl.name}}
    </div>
    <div class="meta">
      <p>Latitude:  {{latitude}} </p>
      <p> Longitude:  {{longitude}} </p>
    </div>
  </div>
</div>
<div class="card">
  <div class="content">
    <i class="{{weatherIcon}}"></i>
    <div class="header">
      Weather
    </div>
    <div class="meta">
      <p> {{latestWeatherCode}} </p>
    </div>
  </div>
</div>
<div class="card">
  <div class="content">
    <i class="{{tempIcon}}"></i>
    <div class="header">
      Temp
    </div>
    <div class="meta">
      <p> {{latestTemp}} 째C</p>
      <p> {{latestTempF}} 째F</p>
      <div class="right floated meta"><i class="{{tempTrend}}"></i></div>
      <p> Max: {{maxTemp}}째C </p>
      <p> Min: {{minTemp}}째C </p>
    </div>
  </div>
</div>
<div class="card">
  <div class="content">
    <i class="{{windIcon}}"></i>
    <div class="header">
      Wind
    </div>
    <div class="meta">
      <p> {{latestWindBeaufort}} bft</p>
      <p> {{latestWindDirection}}</p>
      <p> Feels like {{latestWindChill}}</p>
      <div class="right floated meta"><i class="{{windTrend}}"></i></div>
      <p> Max: {{maxWind}} kMh </p>
      <p> Min: {{minWind}} kMh  </p>
    </div>
  </div>
</div>
<div class="card">
  <div class="content">
    <i class="{{pressureIcon}}"></i>
    <div class="header">
      Pressure
    </div>
    <div class="meta">
      <p> {{latestPressure}} hPa </p>
      <div class="right floated meta"><i class="{{pressureTrend}}"></i></div>
      <p>
        Max: {{maxPressure}} hPa
      </p>
      <p>
        Min: {{minPressure}} hPa
      </p>
    </div>
  </div>
</div>

</div>
<!--
<div class="column">
        #{if _trend == 1}
        <i class="right floated big arrow up ${_colour} icon"></i>
        #{/if}
        #{elseif _trend == -1}
        <i class="right floated big arrow down ${_colour} icon"></i>
        #{/elseif}
      </div>
    </div>
  </div>
</div>-->