



<!-- No need to use ?-->





{{> menu}}

<form class="ui stacked segment form" action="/userUpdate/{{station.id}}/updatereading/{{userUpdate.id}}" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Title</label>
      <input placeholder="Title" type="text" name="title" value="{{userUpdate.title}}">
    </div>
    <div class="field">
      <label>Artist</label>
      <input placeholder="Artist" type="text" name="artist" value="{{userUpdate.artist}}">
    </div>
    <div class="field">
      <label>Duration</label>
      <input placeholder="00" type="number" name="duration" value="{{userUpdate.duration}}">
    </div>
  </div>
  <button class="ui blue submit button">Update Reading</button>
</form>
